

Your task has been saved to the $category.getName() category.

<a href="/categories/$category.getID()"><button class="btn btn-success">Return</button></a>
<a href="/categories"><button class="btn btn-info">View categories</button></a>